p{
  transition-property: height;
}
nav{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

a{
  margin: 0px 10px;
  text-decoration: none;
}



form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}